version: '3'
services:
  nelculobot:
    build: .
    container_name: nelculobot
    restart: unless-stopped
    # ports:
    #   - "5000:5000" # Flask rimosso, non serve esporre porte
    # env_file:
    #   - .env
    # environment: # Commentato per usare .env
    #   TELEGRAM_TOKEN: "123456:ABC-DEF"
    #   TELEGRAM_CHAT_ID: "12345678"
    #   ADMIN_CHAT_ID: "12345678"
    #   INTERVAL_MINUTES: 30
    # volumes:
    #   - nelculo_data:/app/data
      
    command: >
      sh -c "pip install requests Pillow python-telegram-bot[job-queue] beautifulsoup4 lxml &&
             python main.py"

# volumes:
#   nelculo_data:
