version: '3'
services:
  nelculobot:
    build: .
    container_name: nelculobot
    restart: unless-stopped
    # ports:
    #   - "5000:5000" # Flask rimosso, non serve esporre porte
    env_file:
      - .env
      - stack.env
    environment:
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - ADMIN_CHAT_ID=${ADMIN_CHAT_ID}
      - INTERVAL_MINUTES=${INTERVAL_MINUTES:-30}
    # volumes:
    #   - nelculo_data:/app/data
      
    # Use the default command from Dockerfile, or just python main.py
    command: python main.py

# volumes:
#   nelculo_data:
